<div>
  <h1> Generate A Report</h1>
  <%= link_to "Generate Sales Report", click_generate_reports_path, class: 'btn btn-default'  %>
  <%#= link_to 'Reset', events_path, class: 'btn btn-default' %>
</div>